@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', 'Londrina Solid', sans-serif;

}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size:1.6rem;
  font-weight:750;
}

img {
  width: 100%;
}

.nav-container {
  background-color: #22577A;
}

.nav-container a {
  color: white !important;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

header .logo {
  color: #3DB2FF;
  font-weight: bold;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  display: block;
  padding: 0 1em;
}

.social-header, .hero-design {
  display: none;
}

.hero {
  background-color: #38A3A5;
  opacity: .9;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: #E8F6EF;
}

.meet span {
  margin-top: 1.5em;
  margin-right: .5em;
}

.meet p {
  font-size: 1.5em;
}

.scroll {
  width: 30px;
  margin-top: 1em;
  margin-right: 10em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #E8F6EF;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #38A3A5;
  letter-spacing: .5em;
  font-size: 1em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: -.4em;
  display: block;
}
.featured-desc {
  color: #3B3B3B;
  margin-bottom: 3em;
  font-weight: 550;
  font-size: 1.85em;
  line-height: 1.8em;
}

.card-list {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  padding: 3rem !important;
  overflow-x: scroll;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem !important;
  border-radius: 16px;
  background: #E8F6EF;
  box-shadow: -1rem 0 2rem #000;
  color: #38A3A5;
  transition: .4s;
}
.card:hover h2{
  transform: translateY(-1rem);
  font-size: 2.3rem;
  transition: .4s;
}

.card:hover p{
  transform: translateY(-1rem);
  font-size: 1.8rem;
  transition: .4s;
}
.card:hover~.card {
  transform: translateX(130px);
}
.card:not(:first-child) {
  margin-left: -130px;
}
.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.card-list::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.card-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* .card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
  display: none !important;
  background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
} */
.card-author {
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 3rem 0 0;
}

.author-avatar img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: grayscale(100%);
  margin: 16px 10px;
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #ff8a00;
  stroke-width: 8;
  stroke-linecap: round;
}
.hcard {
  margin-bottom: auto;
}

.hcard p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
}

.hcard h2 {
  font-size: 20px;
  margin: .25rem 0 auto;
  cursor: pointer;
}

.hcard h2:hover {

  background: linear-gradient(90deg,#ff8a00,#e52e71);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tags {
  margin: 1rem 0 2rem;
  padding: .5rem 0 1rem;
  line-height: 4;
  margin-bottom: 0;
}

.tags a {
  font-style: normal;
  font-weight: 700;
  font-size: .5rem;
  color: #7a7a8c;
  text-transform: uppercase;
  font-size: 1.42rem;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: .2rem .85rem .25rem;
  position: relative;
}

.tags a:hover {
  background: linear-gradient(90deg,#22577A,#e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-clip: text;
  border-color: #22577A;
  background-color:lightgreen;
}


.skills {
  background-color: #E8F6EF;
  margin-top:0em !important;
  margin-bottom: 0em !important;
  padding-top:8em;
  padding-left: 20px;
}

.skills-container ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.skills-container ul li .icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.skills-container ul li .icon-container.one {
  width: 100px;
}

.skills-container ul li .icon-container.two {
  width: 100px;
}

.skills-container ul li .icon-container.three {
  width: 100px;
}

.skills-container ul li .skill-title {
  font-weight: bold;
  font-size: 2.3rem;
}

.skills-container ul li featured-desc {
  margin-bottom: 2em;
}

.portfolio {
  background: #E8F6EF;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

@media only screen and (min-width: 800px) {
  .featured, .portfolio {
    text-align: left;
  }
  .featured, .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .left, .portfolio-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .skills {
    margin-top: 0em;
    margin-bottom: -7em;
    padding-top: 11em;
  }
  /* .skills-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  } */
  .portfolio {
    padding-top: 7em;
  }
  .portfolio-container img {
    margin-left: 2em;
  }
}

.guides {
padding-top: 20px;
}
.guidestitle{
font-size:3.4em;
color: #38A3A5;
text-decoration:underline;
}

.guidespic{
width:14%;
height:10%;
border-radius:10px;
margin-left:4vw;}

.guidelistitem{
text-align:left;
border: 6px solid #E8F6EF;
border-radius:24px;
margin-top:3vw;}

.guideslisttitle {
margin-top:0.5rem;
display:flex;
margin-top:1.5rem;
}

.guidesitemtitle {
font-size: 3.2rem !important;
margin:auto;
font-size:2.2rem;}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background-color: #22577A;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 4em 2em 0 !important;
  }
  section {
    padding: 4em;
  }
  .social-header {
    display: block !important;
    max-width: 44% !important;
  }
  .social-header ul {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-pack: justify!important;
        -ms-flex-pack: justify!important;
            justify-content: space-between!important;
    width: 7em!important;
    float: right!important;
    margin-right: 4em!important;
  }
  .social-header ul img {
    width: 44px!important;
    padding-left: 1em!important;
    padding-right: 1em!important;
    -webkit-box-sizing: unset !important;
    box-sizing:unset !important;
    -moz-box-sizing:unset !important;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: #38A3A5;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 4em;
    line-height: 1.2em;
  }
  .meet {
    margin: unset;
  }
  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }
  .portfolio img {
    float: right;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 2em 10em 2em 0;
  }
  section {
    padding: 10em 10em 4em 10em;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }
  .social-header {
    padding: 2em 20em 2em 0;
  }
  section {
    padding: 6em 20em 4em 20em;
  }
  .hero .content {
    padding: 9em 20em 6em 20em;
  }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translate(262px, 798px);
            transform: translate(262px, 798px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(262px, 830px);
            transform: translate(262px, 830px);
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translate(262px, 798px);
            transform: translate(262px, 798px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(262px, 830px);
            transform: translate(262px, 830px);
  }
}
