{% extends 'base.html' %}
{% block content %}
    <div class="nav-container navbar-static-top">
        <header>
            <a href="index.html" class="logo">Zwick Tech</a>
            <nav class="navbar-static-top">
                <ul>
                    <li><a href="#myProjects">Projects</a></li>
                    <li><a href="#guides">Guides</a></li>
                    <li><a href="mailto:jareddzwick@gmail.com">Thoughts</a></li>
                </ul>
            </nav>
        </header>
        <div class="social-header">
            <ul>
                <li><a href="https://github.com/JareddZwick"><img src="{{url_for('static', filename='images/github.png')}}" alt="github"></a></li>
                <li><a href="https://www.linkedin.com/in/jared-zwick/"><img src="{{url_for('static', filename='images/linkedin.png')}}" alt="linkedin"></a></li>
                <li><a href="https://www.youtube.com/channel/UCeociudef_2-XeHkDbgnYyw"><img src="{{url_for('static', filename='images/youtube.png')}}" alt="youtube"></a></li>
            </ul>
        </div>
    </div>

    <div class="hero">
        <div class="content">
            <h1 class="stagger1">Howdy, I'm Jared</h1>
            <div class="meet stagger1">
                <span>👇</span>
                <p>Check it out</p>
            </div>
            <svg class="scroll stagger1" width="40" height="77" viewBox="0 0 40 77">
                <g id="scroll" transform="translate(-253 -787)">
                  <g id="Rectangle_12" data-name="Rectangle 12" transform="translate(253 787)" fill="none" stroke="#fff" stroke-width="4">
                    <rect width="40" height="77" rx="20" stroke="none"/>
                    <rect x="2" y="2" width="36" height="73" rx="18" fill="none"/>
                  </g>
                  <circle class="circle" id="Ellipse_1" data-name="Ellipse 1" cx="11" cy="11" r="11" transform="translate(262 798)" fill="#fff"/>
                </g>
              </svg>


        </div>
        <svg width="611" height="639" viewBox="0 0 611 639" class="hero-design">
            <rect class="square-anim" x="305" width="161.006" height="162" rx="24" fill="#38A3A5"/>
            <rect class="square-anim" x="305" y="315" width="161.006" height="162" rx="24" fill="#38A3A5"/>
            <rect class="square-anim" x="449" y="153" width="161.006" height="162" rx="24" fill="#38A3A5" fill-opacity="0.35"/>
            <path class="square-anim" d="M144 177C144 163.745 154.745 153 168 153H281.006C294.261 153 305.006 163.745 305.006 177V291C305.006 304.255 294.261 315 281.006 315H168C154.745 315 144 304.255 144 291V177Z" fill="white"/>
            <path class="square-anim" d="M144 501C144 487.745 154.745 477 168 477H281.006C294.261 477 305.006 487.745 305.006 501V615C305.006 628.255 294.261 639 281.006 639H168C154.745 639 144 628.255 144 615V501Z" fill="white"/>
            <path class="square-anim" d="M0 339C0 325.745 10.7452 315 24 315H137.006C150.261 315 161.006 325.745 161.006 339V453C161.006 466.255 150.261 477 137.006 477H24C10.7451 477 0 466.255 0 453V339Z" fill="white" fill-opacity="0.28"/>
            <ellipse class="square-anim" cx="232" cy="396.5" rx="71" ry="76.5" fill="#22577A"/>
            <ellipse class="square-anim" cx="376" cy="238.5" rx="71" ry="76.5" fill="#E8F6EF"/>
        </svg>
    </div>
    <p class="subtitle" style="text-align: center; font-size: 5rem; font-weight: 200; margin-top:100px; padding-top: 100px;">What's New?</p>
    <section class="card-list">
        <a name="MySkills"></a>
            <article class="card">
                <div class="hcard">
                    <p>May 27th, 2020</p>
                    <h2>1 ------Card tricks are fun.</h2>
                </div>
                <div class="card-author">
                    <a class="author-avatar" href="#">
                      <img src="{{url_for('static',filename='images/face-modified.png')}}" style="margin-left: 8rem; padding-right:0;"/>
                    </a>
                    <svg class="half-circle" viewBox="0 0 106 57">
                      <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
                    </svg>

                    <div class="author-name">
                      <div class="author-name-prefix">By: </div>
                      Jared Zwck
                    </div>
                  </div>

                  <div class="tags">
                    <a>html</a>
                    <a>css</a>
                    <a>web-dev</a>
                  </div>
            </article>
            {% for note in notes %}
            <article class="card">
                <div class="hcard">
                    <p><!-- May 27th, 2020 -->{{note.date.strftime("%d %b, %Y")}}</p>
                    <h2>{{note.text}} - <a href="#guides">link</a></h2>
                </div>
                <div class="card-author">
                    <a class="author-avatar" href="#">
                        <img src="{{url_for('static',filename='images/face-modified.png')}}" />
                    </a>
                    <svg class="half-circle" viewBox="0 0 106 57">
                      <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
                    </svg>

                    <div class="author-name">
                      <div class="author-name-prefix">By:</div>
                      Jared Zwick
                    </div>
                  </div>

                  <div class="tags">
                    <a href={{note.anchor}}>{{note.tag1}}</a>
                    <a href={{note.anchor}}>{{note.tag2}}</a>
                    <a href={{note.anchor}}>{{note.tag3}}</a>
                  </div>
            </article>
            {% endfor %}
    </section>
     <a name="myProjects"></a>
<section class="featured">
        <div class="left">
            <div class="inner transition2">
                <p class="subtitle">Featured Project</p>
                <a href="https://jaredzwick.pythonanywhere.com" class="featured-title">Enzo - CMS For Auto Dealers</a>

                <p class="featured-desc" style="margin-right:1.5rem;">This is my automated marketing system for dealerships. Contains automated
                web services by giving users the ability to upload inventory data, manage content posts, and
                automate customer outreach.</p>
            </div>
        </div>
    <a href="https://jaredzwick.pythonanywhere.com" class="featured-title">
        <img class="right transition2" src="{{url_for('static', filename='images/enzodealerboard.PNG')}}" alt="featured project" style="border-radius: 3%;">
    </a>
    </section>
    <section class="portfolio">

        <div class="portfolio-container transition3">
        <div class="portfolio-left">
            <div class="inner">
                <p class="subtitle">Full Stack Web</p>
                <p class="featured-title">Virtual escrow for exchanging items with crypto</p>
                <p class="featured-desc">This is my virtual marketplace app designed to facilitate trade between crypto and physical objects.
                Implements an escrow feature where funds are not released until product/service is confirmed.</p>
            </div>
        </div>
        <a href="https://github.com/JareddZwick/VolumeGestureControl"><img src="{{url_for('static', filename='images/vm3.PNG')}}" alt="volume gesture" style="height: 85%;"></a>
        </div>

        <div class="portfolio-container transition3">
        <div class="portfolio-left">
            <div class="inner">
                <p class="subtitle">Flash Card App</p>
                <p class="featured-title">Flashy</p>
                <p class="featured-desc">This is my language teacher flashcard app. I used a list of subtitles to populate the most frequent words of a language into a Flash Card App.</p>
            </div>
        </div>
        <a href="https://github.com/JareddZwick/FlashcardApp"><img src="{{url_for('static', filename='images/flashy.png')}}" alt="flashcard app"></a>
        </div>
        <div class="portfolio-container transition3">
        <div class="portfolio-left">
            <div class="inner">
                <p class="subtitle">Password App</p>
                <p class="featured-title">MyPass Manager</p>
                <p class="featured-desc">This is a python GUI App to generate, store, and retrieve random encrypted passwords for any site you desire.</p>
            </div>
        </div>
        <a href="https://github.com/JareddZwick/Password-Manager-App"><img src="{{url_for('static', filename='images/mypass.png')}}" alt="Password App"></a>
        </div>
    </section>
    <a name="guides"></a>
    <section class="guides">
        <h1 class="guidestitle">Programming Guides</h1>
        <div class="guidescontainer">
            <div class="guide">
                <img src="{{url_for('static', filename='images/dsa.png')}}" class="guidespic">
                <div class="noteFooter">
                <span class="noteDate"><h2 style="font-size:2rem;">Python Data Structures and Algorithms</h2>
                </span>
                </div>
            </div>
            <div class="guide">
                <img src="{{url_for('static', filename='images/python.png')}}" class="guidespic">
                <div class="noteFooter">
                <span class="noteDate"><h2 style="font-size:2rem;">Web Development with Flask and Python</h2>
                </span>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js" integrity="sha512-UxP+UhJaGRWuMG2YC6LPWYpFQnsSgnor0VUF3BHdD83PS/pOpN+FYbZmrYN+ISX8jnvgVUciqP/fILOXDjZSwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js" integrity="sha512-DlTk2PLUinhBupE89kHOJTt11QqbRMQVlbb26XVDvp4D1kt0fRvQJslvZnTelRJHq6yK0tIPCR7cul8+9Blz0g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        gsap.registerPlugin(ScrollTrigger);
        var tl = gsap.timeline();

        tl.from('.content', {
            y: '-30%',
            opacity: 0,
            duration: 1.5,
            ease: Power4.easeOut
        })
        tl.from('.stagger1',{
            opacity: 0,
            y: -50,
            stagger: .3,
            ease: Power4.easeOut,
            duration: 2
        }, "-=1")
        tl.from('.hero-design', {
            opacity: 0, y: 50,ease: Power4.easeOut, duration: 1
        }, "-=2.5")

        gsap.from(".square-anim", {
            stagger: .2, scale: 0.1, duration: 1, ease: Back.easeOut.config(1.7)
        })

        gsap.from('.transition2', {
        scrollTrigger: {
            trigger: '.transition2',
            start: "top bottom"
        },
        y: 50,
        opacity: 0,
        duration: 1.2,
        stagger: .3
        })

        gsap.from(".transition3", {
        scrollTrigger: {
            trigger: ".transition3",
            start: "top bottom"
        },
        y: 50,
        opacity: 0,
        duration: 1.2,
        stagger: .3
        })
    </script>
{% endblock %}
<!--</body>-->
<!--</html>-->
